.product_description {
    margin-top: 2rem;
}

.product_description p {
    width: 100%;
    display: block;
    color: var(--light-complementary-text-color);
    font-size: 1.2rem;
    text-align: justify;
}