.script {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: .5em;
}

.script span {
    display: block;
    color: rgba(32, 19, 64, .19);
    text-align: center;
    font-family: var(--aria-font);
    text-transform: uppercase;
}

@media screen and (min-width: 960px) {
    .script {
        right: 1em;
    }
}