.product_handling_modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: var(--dark-shadow-color);
}

.product_cover {
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

.close_menu_btn {
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    position: absolute;
    top: .5em;
    left: .5em;
    z-index: 11;
}

.close_menu_btn svg {
    color: rgba(32, 19, 64, .19);
    font-size: 3em;
    transition: all .3s ease;
}

.close_menu_btn:hover svg {
    color: rgba(32, 19, 64, .4);
}

.product_cover img {
    width: 100%;
    height: auto;
    z-index: 10;
}

.script {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: .5em;
}

.script span {
    display: block;
    color: rgba(32, 19, 64, .19);
    text-align: center;
    font-family: var(--aria-font);
    font-size: 2.1em;
    text-transform: uppercase;
}

.product_details {
    background: linear-gradient(to left, #200042, #49006F);
    padding: 3em 1.5em;
}

.product_attributes {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.product_attributes ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .75em 1.5em;
}

.product_attributes ul li {
    width: calc(33.33% - (3em / 3));
    height: 40px;
}

.product_attributes ul span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_footer {
    margin-top: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product_footer button {
    background: none;
    border: 3px solid var(--primary-color);
    outline: none;
    padding: .75em 2.5em;
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.product_footer button:hover {
    background: var(--primary-color);
    color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
    .product_attributes ul {
        gap: 1em 2em;
    }

    .product_attributes ul li {
        width: calc(20% - (8em / 5));
        height: 50px;
    }
}

@media screen and (min-width: 960px) {
    .product_handling_modal {
        flex-direction: row;
        overflow-y: unset;
    }

    .product_cover {
        width: 45%;
    }

    .script {
        right: 1em;
    }

    .script span {
        font-size: 4.8em;
    }

    .product_details {
        width: 55%;
        padding: 10em 5em;
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: #888 #e0e0e0;
    }

    .product_details::-webkit-scrollbar {
        width: 8px;
    }

    .product_details::-webkit-scrollbar-track {
        background: #e0e0e0;
    }

    .product_details::-webkit-scrollbar-thumb {
        background: #888;
    }

    .product_details::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}