.product_header h1 {
    background: var(--accent-color);
    width: fit-content;
    padding: .25em .5em;
    color: var(--light-primary-text-color);
    text-transform: uppercase;
}

.product_result {
    margin-top: 1em;
}

.product_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}