.product_price {
    margin-top: 1rem;
}

.product_price span {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--light-primary-text-color);
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.product_price span strong {
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}

@media screen and (min-width: 960px) {
    .product_price span {
        font-size: 1.8rem;
    }
}