.button {
    background: var(--accent-color);
    border: none;
    outline: none;
    padding: 1em 2.5em;
    border-radius: .5em;
    color: var(--light-primary-text-color);
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease;
}

.button:hover {
    transform: translateY(-5px);
}