.product_list {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (min-width: 960px) {
    .product_list {
        margin-top: 3rem;
    }
}