.product_list {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
}

@media screen and (min-width: 960px) {
    .product_list {
        gap: 2rem 3rem;
    }
}