.table_data {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    border: 1px solid var(--border-color);
    padding: 12px 16px;
    text-align: center;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.table th {
    background-color: var(--highlight-color);
    color: var(--text-color-secondary);
    font-weight: bold;
}

.table td {
    background-color: var(--primary-color);
    color: var(--text-color-main);
}

.table tr:hover td {
    background-color: var(--hover-color);
}

.table button {
    padding: 5px 10px;
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table button:hover {
    background-color: var(--highlight-color);
    color: var(--text-color-secondary);
}