.dashboard_page {
    padding: 20px;
    background-color: var(--background-color);
}

.balance_card {
    background-color: var(--highlight-color);
    padding: 15px;
    border-radius: 8px;
    color: var(--text-color-secondary);
    text-align: center;
}

.balance_card p {
    font-size: 2rem;
    font-weight: bold;
}

.navigation_links_section {
    margin-top: 20px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link {
    flex: 1;
    min-width: calc(50% - 20px);
    padding: 10px 20px;
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--text-color-secondary);
    background-color: var(--highlight-color);
}

.transactions_section {
    margin-top: 40px;
}