.manage_product_page {
    margin: 0 auto;
    background-color: var(--alternative-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--shadow-medium);
}

.step_indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.step_indicator span {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: var(--dark-primary-text-color);
    font-family: var(--alkaline-bold-font);
    text-align: center;
    pointer-events: none;
}

.step_indicator .active_step {
    background-color: var(--accent-color);
    color: var(--light-primary-text-color);
}

.navigation {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem;
}

.navigation button {
    width: 100%;
    background-color: var(--accent-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    box-shadow: var(--shadow-light);
    color: var(--light-primary-text-color);
    font-family: var(--aria-font);
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.navigation button:hover {
    background-color: rgba(0, 0, 0, .6);
}

.navigation button:disabled {
    background-color: var(--alternative-background);
    color: var(--dark-complementary-text-color);
    cursor: not-allowed;
}

@media screen and (min-width: 960px) {
    .manage_product_page {
        max-width: 600px;
        padding: 6rem 3rem;
    }
}