.product_description {
    margin-top: 2em;
}

.product_description p,
.product_description textarea {
    width: 100%;
    display: block;
    background: none;
    border: none;
    outline: none;
    color: var(--light-complementary-text-color);
    font-size: 1.1em;
}

.product_description textarea {
    padding-right: .5em;
    resize: none;
}

@media screen and (min-width: 960px) {

    .product_description p,
    .product_description textarea {
        font-size: 1.2em;
    }
}