.product_size_attribute span {
    background: var(--accent-color);
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.product_size_attribute input {
    width: 100%;
    height: 100%;
    display: block;
    background: var(--accent-color);
    border: none;
    outline: none;
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product_size_attribute input:focus {
    border: 4px solid var(--primary-color);
}

.add_btn {
    background: var(--accent-color);
    border: none;
    outline: none;
    padding: 0 .5em;
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

.add_btn:hover {
    transform: translateY(-5px);
}

@media screen and (min-width: 960px) {
    .product_size_attribute span {
        font-size: 1.2em;
    }
}