.sign_in_page {
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7b2cbf, #ff6ec7);
}

.container {
    padding: 20px;
    color: var(--text-color-secondary);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.container form {
    padding: 20px 0;
}

.container h2 {
    color: var(--text-color-main);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .sign_in_page {
        padding: 20px;
    }
}