.debts_page {
    padding: 20px;
    background-color: var(--background-color);
}

.actions {
    margin-top: 10px;
}

.debts_section {
    margin-top: 40px;
}

.debt_details {
    margin-top: 40px;
}