.product_card {
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;

    position: relative;
}

.product_card:hover {
    transform: translateY(-5px);
}

.edit_btn {
    background: none;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;

    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 100;
}

.edit_btn:hover {
    background-color: var(--dark-primary-text-color);
}

.edit_btn svg {
    color: var(--dark-primary-text-color);
    font-size: 1.75rem;
    transition: all .3s ease;
}

.edit_btn:hover svg {
    color: var(--light-complementary-text-color);
}

.cover {
    background-color: rgba(0, 0, 0, .05);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 100%;
}

.details {
    margin-top: 1rem;
}

.details span {
    display: block;
    color: var(--dark-complementary-text-color);
    font-family: var(--aria-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s ease;
}

.product_card:hover .details span {
    text-decoration: underline;
}

.details p {
    display: block;
    margin-top: .5rem;
    color: var(--dark-primary-text-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.details p strong {
    display: inherit;
}

@media screen and (min-width: 960px) {
    .product_card {
        width: calc((100% - 9rem) / 4);
    }

    .edit_btn svg {
        font-size: 1.5rem;
    }
}