.product_card {
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;

    position: relative;
}

.product_card:hover {
    transform: translateY(-5px);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    position: absolute;
    top: .75rem;
    right: .75rem;
    z-index: 100;
}

.actions button {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: .25em;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.actions button:hover {
    background-color: var(--accent-color);
}

.actions button:hover svg {
    color: var(--light-primary-text-color);
}

.actions button svg {
    color: var(--dark-primary-text-color);
    font-size: 1.5rem;
    transition: all .3s ease;
}

.cover {
    background-color: rgba(0, 0, 0, .05);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 100%;
}

.details {
    margin-top: 1rem;
}

.details span {
    display: block;
    color: var(--dark-complementary-text-color);
    font-family: var(--aria-font);
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s ease;
}

.product_card:hover .details span {
    text-decoration: underline;
}

.details p {
    display: block;
    margin-top: .5rem;
    color: var(--dark-primary-text-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.details p strong {
    display: inherit;
}

@media screen and (min-width: 960px) {
    .product_card {
        width: calc((100% - 6rem) / 4);
    }
}