.footer {
    background-color: var(--accent-color);
    padding: 3rem var(--horizontal-padding);
}

.footer p {
    text-align: center;
    color: var(--light-primary-text-color);
    font-size: 1rem;
}