.overlay {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(2px);
    padding: var(--vertical-padding) var(--horizontal-padding);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
}