.step2 {
    display: flex;
    flex-direction: column;
}

.category select,
.colors button,
.sizes button {
    font-family: var(--aria-font);
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark-complementary-text-color);
    border-radius: 4px;
    box-shadow: var(--shadow-light);
}

button {
    background: var(--accent-color);
    color: var(--light-primary-text-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--shadow-light);
    font-family: var(--aria-font);
    font-size: 1rem;
}