@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Prata&display=swap');

:root {
    --primary-font: "Prata", serif;
    --secondary-font: "Comfortaa", sans-serif;

    --light-primary-text-color: #fff;
    --light-complementary-text-color: #e5e5e5;
    --dark-secondary-text-color: #000;
    --dark-complementary-text-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-secondary-text-color);
    font-family: var(--primary-font);
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3;
}

p,
span,
a,
label,
li,
button {
    font-family: var(--secondary-font);
    font-optical-sizing: auto;
}

p,
span,
a,
label,
li {
    font-size: 1em;
}

button {
    font-size: 1.1em;
}