/* Alkaline - Regular */
@font-face {
    font-family: 'Alkaline';
    src: url('./assets/fonts/alkaline-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Alkaline - Bold */
@font-face {
    font-family: 'Alkaline';
    src: url('./assets/fonts/alkaline-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Aria - Regular */
@font-face {
    font-family: 'Aria';
    src: url('./assets/fonts/aria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* AriaPro - Regular */
@font-face {
    font-family: 'AriaPro';
    src: url('./assets/fonts/ariapro-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}