@font-face {
    font-family: 'AlkalineRegular';
    src: url('./assets/fonts/alkaline-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlkalineBold';
    src: url('./assets/fonts//alkaline-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aria';
    src: url('./assets/fonts/aria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AriaProRegular';
    src: url('./assets/fonts/ariapro-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --alkaline-regular-font: 'AlkalineRegular', sans-serif;
    --alkaline-bold-font: 'AlkalineBold', sans-serif;
    --aria-font: 'Aria', sans-serif;
    --aria-pro-regular-font: 'AriaProRegular', sans-serif;

    --light-primary-text-color: #fff;
    --light-complementary-text-color: #e5e5e5;
    --dark-primary-text-color: #000;
    --dark-complementary-text-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-primary-text-color);
    font-family: var(--alkaline-bold-font);
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

p,
span,
a,
label,
li,
button {
    font-family: var(--aria-font);
}

p,
span,
a,
label,
li {
    font-size: 1em;
}

button {
    font-size: 1.1em;
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.3;
    }
}