@import url('fonts.css');

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Core Variables */
:root {
  --primary-color: #F4F4F9;
  --complementary-color: #333333;
  --highlight-color: #9C27B0;
  --text-color-main: #333333;
  --text-color-secondary: #F4F4F9;
  --background-color: #E0E0E0;
  --border-color: #000000;
  --hover-color: #D1C4E9;
}


/* Global Styles */
html,
body {
  background: var(--primary-color);
  color: var(--text-color-main);
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}