.cover_slider {
    display: flex;
    gap: .5em;

    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
}

.cover_slider span {
    width: .6em;
    height: .6em;
    background: rgba(32, 19, 64, .19);
    border-radius: 50%;
    display: inline-block;
}

.cover_slider .selected {
    background: linear-gradient(45deg,
            rgba(79, 9, 168, 1) 0%,
            rgba(93, 48, 192, 1) 23%,
            rgba(79, 40, 231, 0.9984189683112545) 51%,
            rgba(71, 28, 189, 1) 76%,
            rgba(41, 4, 100, 1) 100%);
}